
.DS_Store
custom_stack.pro.user
build-unit_tests-Qt_6_2_3_for_macOS-Debug
lib/build-custom_stack-Qt_6_2_3_for_macOS-Debug
lib/build-custom_stack-Qt_6_2_3_for_macOS-Release
lib/build-custom_stack-Qt_6_2_3_for_macOS-Profile
unit_tests/unit_tests.pro.user
